<div class="title">
  <h1>Albums</h1>
</div>
<div class="events row">
  <form class="" action="/addNewAlbum" method="get">
    <button type="submit" class="btn addNewEventButton">Add new album!</button>
  </form>

  <% let length = albums.length;%>
  <% for(let i=0; i< length; i++){ %>
  <div class="col-lg-4 col-md-6 col-10 eventCard">
    <form name="albums">
      <div class="card">
        <a href="<%=albums[i].driveLink%>" target="_blank">
        <img src="<%=albums[i].image%>"class="card-img-top coverImage" alt="...">
        </a>
        <div class="card-body">
          <h4 class="date">📅 <%=albums[i].date%></h4>
          <h4 class="name">📍 <%=albums[i].name%></h4>
          <h4 class="name">Order: <%=albums[i].order%></h4>
          <div class="buttons">
            <button type="button" onclick="confirmDeleteAlbum(&quot;<%=albums[i].name%>&quot;, '/deleteAlbum:<%=albums[i]['_id']%>')" class="btn btn-danger deleteButton">DELETE</button>
            <button type="submit" formaction="/editAlbum:<%=albums[i]['_id']%>" formmethod="get" class="btn signupButton">Edit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <% } %>
</div>

<script type="text/javascript">

  function confirmDeleteAlbum(albumName, formaction) {
    var result = confirm("Are you sure you want to delete " + albumName + "?");
    let form = document.forms["albums"]
    if (result) {
      form.setAttribute("method", "post");
      form.setAttribute("action", formaction);
      form.submit()
    }
  }
</script>
