<div class="title">
  <h1><%=albumInfo['name']%></h1>
</div>
<div class="events row">

  <div class="col-lg-4 col-10 eventInfoCard">
    <form name = "eventEdit" action="/editAlbum:<%=albumInfo['_id']%>" method="post" enctype="multipart/form-data">
      <div class="card">
        <img src="<%=albumInfo.image%>" class="card-img-top" alt="...">
        <div class="card-body">

          <h4 class="name"><b>Name</b>:</h4>
          <input type="text" name="name" class="formTextInput" value="<%=albumInfo.name%>" placeholder="<%=albumInfo.name%>">

          <h4 class="date"><b>Date:</b> </h4>
          <input type="text" name="date" class="formTextInput" value="<%=albumInfo.date%>" placeholder="<%=albumInfo.date%>">

          <h4 class="date"><b>Drive Link:</b> </h4>
          <input type="text" name="driveLink" class="formTextInput" value="<%=albumInfo.driveLink%>" placeholder="<%=albumInfo.driveLink%>">

          <h4 class="name"><b>Image:</b> </h4>
          <input type="file" name="coverImage" class="formTextInput"  accept="image/*">

          <h4 class="name"><b>Order:</b> </h4>
          <input type="text" name="order" class="formTextInput" value="<%=albumInfo.order%>" placeholder="<%=albumInfo.order%>">


          <button type="submit" class="btn editButton">Edit</button>

        </div>
      </div>
    </form>
  </div>

</div>
